@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v27-cyrillic_latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-condensed-v27-cyrillic_latin-600.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v27-cyrillic_latin-700.woff2')
    format('woff2');
}

:root {
  --color-primary-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-grey: #4a4a4a;
  --color-secondary-black: #000000;
}

/* base */
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

/* header-link */

.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
}

.header-link:hover {
  color: var(--color-primary-brand);
  font-weight: 700;
}

/* hero */

.hero-title {
  color: var(--color-primary-brand);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
  width: 529px;
}

.hero-item {
  font-size: 18px;
}

/* button */
.button {
  background-color: var(--color-primary-brand);
  border-radius: 32px;
  border: 2px solid var(--color-primary-brand);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  color: var(--color-primary-dark);
  background: transparent;
}

.button-item {
  width: 238px;
  size: 12px;
  line-height: 18px;
}

/* info-section */
.info-title {
  width: 529px;
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.info-title .accent {
  color: var(--color-primary-brand);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
}

.info-item {
  width: 709px;
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
}

.info-item .accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* advantages-section */
.advantages-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.advantages-title .accent {
  color: var(--color-primary-brand);
}

.advantages-item {
  color: var(--color-secondary-black);
  width: 252px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

/* procedures-section */
.procedures-title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}

.procedures-title .accent {
  color: var(--color-primary-brand);
}

.procedures-item {
  color: var(--color-primary-light);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 152px;
}

/* contacts-ssection */
.contacts-title {
  display: flex;
  width: 432px;
  height: 75px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}

.contacts-title .accent {
  color: var(--color-primary-brand);
}

/* footer-link */

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  width: 203px;
  font-size: 16px;
}
.footer-link:hover {
  color: var(--color-primary-brand);
}
